#content{
	margin-left: 30%;
	margin-right: 30%;
	margin-top: 5%;
	padding:20px;
	background-color: white;
	-webkit-box-shadow: 7px 7px 3px 1px rgba(255, 255, 255, 0.75);
	-moz-box-shadow:    7px 7px 3px 1px rgba(255, 255, 255, 0.75);
	box-shadow:         7px 7px 3px 1px rgba(255, 255, 255, 0.75);
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
    word-wrap:break-word;
}
html{
	background-color: black;
	font-family: 'Lato', Helvetica, sans-serif;

}
#button {
	border: 0px;
	padding: 8px 10px;
	border-radius: 1px;
	cursor: pointer;
	color: #fff;
	background: #7aa76d;
	font-size: 15px;

	outline: none;

	-webkit-transition: 0.15s background ease;
	   -moz-transition: 0.15s background ease;
	    -ms-transition: 0.15s background ease;
	     -o-transition: 0.15s background ease;
	        transition: 0.15s background ease;
}
	#button:hover {
		background: #91cd85;
	}
	#button:active {
		background: #60895a;
	}
	#button+button {
		margin-left: 5px;
	}
